<mat-tab-group class="mat-tab-list">
    <mat-tab *ngFor="let user of userArray" label="{{user.name}}">
        <div class="content">
           

            <table border="1" >
                <thead>
                    <tr >
                        <th *ngFor="let k of this.getuserKeys()">{{k}}</th>
                   </tr>
                </thead>
                <tbody>
                    <tr >
                       
                        <td *ngFor="let v of this.getuserKeys()">
                            {{this.typeOf(user[v])}}
                           
                        </td>
                    </tr>
                </tbody>
               
                </table>
            
        </div>
        
        
    </mat-tab>
  
  </mat-tab-group>